<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<title>5yncr</title>
<div class=page>
    <a href="{{ url_for('startup') }}">
      <h1>5yncr</h1>
    </a>
    <h1>
      <div class=create-panel>{% block drop_creation %}{% endblock %}</div>
    </h1>

    <!-- Flashed Messages For Action Notifications -->
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}

    <!-- List of Drops for this Node -->
    <div class=drop-list>{% block drop_list %}{% endblock %}</div>

    <!-- Container for info on selected Drop -->
    <div class=right-panel>
        {% block toolbar %}{% endblock %}
        <div class=drop-info>
            {% block body %}{% endblock %}
        </div>
    </div>

</div>
