{% extends "layout.html" %}

{% block drop_list %}
<div >
    <h1 class=drop-type>Owned Drops</h1>
    <ul class=drops>
        {% for drop in owned %}
            <li><a href="{{ url_for('show_drops', drop_id=drop.name) }}"><h2 class=drop-name>{{ drop.name|safe }}</h2></a>
        {% else %}
            <li><em>None</em>
        {% endfor %}
    </ul>

    <h1 class=drop-type>Subscribed Drops</h1>
    <ul class=drops>
        {% for drop in subscribed %}
            <li><a href="{{ url_for('show_drops', drop_id=drop.name) }}"><h2 class=drop-name>{{ drop.name|safe }}</h2></a>
        {% else %}
            <li><em>None</em>
        {% endfor %}
    </ul>
</div>
{% endblock %}

<!--test-->

{% block drop_creation %}
<div class="btn-group">
  <a href="{{ url_for('create_drop') }}"><button>Create Drop</button></a>
  <a href="{{ url_for('subscribe_to_drop') }}"><button>Subscribe to Drop</button></a>
</div>
{% endblock %}


{% block toolbar %}
{% if selected and selected.permission == "owned" %}
  <div class="btn-group">
    <a href="{{ url_for('show_drops', drop_id=selected.name) }}"><button>Reload</button></a>
    {% if new_version %}
    <a href="{{ url_for('new_version', drop_id=selected.name) }}"><button>New Version</button></a>
    {% endif %}
    <a href="{{ url_for('share_drop', drop_id=selected.name) }}"><button>Share</button></a>
    <a href="{{ url_for('add_file', drop_id=selected.name) }}"><button>Add File</button></a>
    <a href="{{ url_for('view_owners', drop_id=selected.name) }}"><button>Owners</button></a>
    <a href="{{ url_for('delete_drop', drop_id=selected.name) }}"><button>Delete Drop</button></a>
    <!--
    <a href="{{ url_for('request_change', drop_id=selected.name) }}"><button>Request Change</button></a>
    <a href="{{ url_for('view_pending_changes', drop_id=selected.name) }}"><button>Pending Changes</button></a>
    <a href="{{ url_for('view_conflicts', drop_id=selected.name) }}"><button>Conflicts</button></a>
    -->
  </div>
{% elif selected and selected.permission == "subscribed" %}
  <div class="btn-group">
      <a href="{{ url_for('show_drops', drop_id=selected.name) }}"><button>Reload</button></a>
      <a href="{{ url_for('unsubscribe', drop_id=selected.name) }}"><button>Unsubscribe</button></a>
      <!--
      <a href="{{ url_for('request_change', drop_id=selected.name) }}"><button>Request Change</button></a>
      -->
  </div>
{% endif %}
{% endblock %}


{% block body %}
{% if selected and selec_act == "owners" %}
    Owners of drop {{ selected.name|safe }}:
    <table class=file-table>
    <tr class=file-info-row>
        <th class=file-name>{{ selected.primary_owner|safe }}</th>
        <th class=file-actions>

        </th>
      </tr>
    {% for owner in selected.other_owners %}
      <tr class=file-info-row>
        <th class=file-name>{{ owner|safe }}</th>
        <th class=file-actions>
          <div class=file-action-container>
            <div class=file-action-button-container>
              <div class=file-action-button-container>
                    <form method="GET" action="{{ url_for('remove_owner', drop_id=selected.name, owner_id=owner) }}">
                        <input class=file-action-button type='submit' value='remove' />
                    </form>
                </div>
            </div>
          </div>
        </th>
      </tr>
    {% endfor %}
    </table>
    <form method="GET" action="{{ url_for('add_owner', drop_id=selected.name) }}">
        Owner ID: <input type='text' name='owner_id' />
        <input class=file-action-button type='submit' value='Add Owner' />
    </form>
    <form method="POST" action="{{ url_for('transfer_ownership') }}">
      Transfer Ownership to:
      <select>
        {% for owner in selected.other_owners %}
          <option value={{owner}}>{{owner}}</option>
        {% endfor %}
      </select>
      <input class=file-action-button type='submit' value='Transfer' />
    </form>
{% elif selected and selec_act == "share drop" %}
  <center>
    <p>
      <strong>
        To share, send the following Drop ID to your friends: {{ selected.name | safe }}
      </strong>
      <br><br>
      Please note, 5yncr does not provide any functionality to send this ID to others. <br>
      This must be done via email, word-of-mouth, messaging software, etc. <br>
    </p>
  </center>
{% elif selected and selec_act == "current conflicts" %}
    Current conflicts of drop {{ selected.name|safe }}:
    <table class=file-table>
    {% for file in selected.files %}
      <tr class=file-info-row>
        <th class=file-name>{{ file.name|safe }}</th>
        <th class=file-actions>
          <div class=file-action-container>
            {% if file.occr == "many" %}
              <select>
                {% for version in versions %}
                  <option value={{version.name}}>{{version.name}}</option>
                {% endfor %}
              </select>
            {% endif %}
            <div class=file-action-button-container>
              <form method="POST" action="{{ url_for('accept_conflict_file', file_path=selected.name) }}">
                <input class=file-action-button type='submit' value='accept'/>
              </form>
            </div>
            <div class=file-action-button-container>
              <form method="POST" action="{{ url_for('decline_conflict_file', file_path=selected.name) }}">
                <input class=file-action-button type='submit' value='decline'/>
              </form>
            </div>
          </div>
        </th>
      </tr>
    {% endfor %}
    </table>
{% elif selected and selec_act == "view pending changes" %}
    Pending changes of drop {{ selected.name| safe }}:
    <table class=file-table>
    {% for file in selected.files %}
      <tr class=file-info-row>
        <th class=file-name>{{ file.name|safe }}</th>
        <th class=file-actions>
          <div class=file-action-container>
            <div class=file-action-button-container>
              <form method="GET" action="{{ url_for('accept_changes', file_path=selected.name) }}">
                <input class=file-action-button type='submit' value='accept changes'/>
              </form>
            </div>
            <div class=file-action-button-container>
              <form method="GET" action="{{ url_for('decline_changes', file_path=selected.name) }}">
                <input class=file-action-button type='submit' value='decline changes'/>
              </form>
            </div>
          </div>
        </th>
      </tr>
    {% endfor %}
    </table>
{% elif selected and selec_act == "request_change" %}
  Current changes requested for drop {{ selected.name | safe }}:
  <table class=file-table>
  {% for file in selected.files %}
      <tr class=file-info-row>
          <th class=file-name>{{ file.name|safe }}</th>
          <th class=file-actions>
            <div class=file-action-container>
              <div class=file-action-button-container>
                  <form method="GET" action="{{ url_for('remove_change', file_path=selected.name) }}">
                      <input class=file-action-button type='submit' value='remove' />
                  </form>
              </div>
            </div>
          </th>
      </tr>
  {% endfor %}
  </table>
  <div class=file-action-container>
    <div class=file-action-button-container>
      <form method="GET" action="{{ url_for('upload_file') }}">
        <input class=file-action-button type='submit' value='upload file' />
      </form>
    </div>
    <div class=file-action-button-container>
      <form method="GET" action="{{ url_for('submit_changes', drop_id=selected.name) }}">
        <input class=file-action-button type='submit' value='submit changes' />
      </form>
    </div>
  </div>
{% elif selected %}
    Name is {{ selected.name|safe }}. {{ action.description|safe }}
    <table class=file-table>
    {% for file in selected.files %}
        <tr class=file-info-row>
            <th class=file-name>{{ file.name|safe }}</th>
            <th class=file-actions>
              <div class=file-action-container>
                <div class=file-action-button-container>
                  <form class=file-action-button name='open_file' action = '' method = 'post'>
                    <input type="hidden" name="type" value="open_file">
                    <input class=file-action-button type='submit' name='open_file' value='open' />
                  </form>
                </div>
                <div class=file-action-button-container>
                    <form method="GET" action="{{ url_for('remove_file', drop_id=selected.name, file_name=file.name) }}">
                        <input class=file-action-button type='submit' value='remove' />
                    </form>
                </div>
              </div>
            </th>
        </tr>
    {% endfor %}
    </table>
{% elif selec_act == "create_drop" %}
  <table class=file-table>
    <tr class=file-info-row>
      <th class=create-prompt>Create a name for your drop: </th>
      <th class=file-actions>
        <div class=file-action-container>
          <div class=file-action-button-container>
            <form method="GET" action="{{ url_for('select_directory') }}">
              <input class=file-action-button type='submit' value='Select Directory' />
            </form>
          </div>
          <div class=file-action-button-container>
            <form method="GET" action="{{ url_for('initialize_drop') }}">
              <input class=file-action-button type='submit' value='Create Drop'/>
            </form>
          </div>
        </div>
      </th>
    </tr>
  </table>
  <br><b>How to Create a Drop:</b><br><br>
    1) First, create and name the folder that you wish to turn into a drop
  <small>
    <div class=text-indent>
      -To do this in either Windows or iOS, navigate to where you would like to
      create the folder, right-click on open space, and click "New Folder".
    </div>
  </small>
    2) Next, click the "Select Directory" button above. Select this newly-created
    folder, and hit "Accept" / "OK". <br>
    3) After, a message will pop up showing which directory was selected.
    Click on "Create Drop" button, and the drop will be initialized in that folder. <br>
    4) If the folder has already been initialized, then step 3 will fail. To fix this,
    create a new folder, give it a unique name, and repeat the steps above.<br>
    5) All done!
{% elif selec_act == "subscribe_to_drop" %}
<table class=file-table>
  <tr class=file-info-row>
    <th class=create-prompt>Input drop name:</th>
    <th class=file-actions>
      <div class=file-action-container>
        <div class=file-action-button-container>
          <form method="POST" action="{{ url_for('input_drop_to_subscribe') }}">
            Drop to Subscribe to: <input type='text' name='drop_to_subscribe_to' />
            <input class=file-action-button type='submit' value='Subscribe'/>
          </form>
        </div>
      </div>
    </th>
  </tr>
</table>
{% else %}
    No Drop Selected {{ action.description|safe }}
{% endif %}
{% endblock %}
