{% extends "layout.html" %}

{% block drop_list %}
<div >
    <h1 class=drop-type>Owned Drops</h1>
    <ul class=drops>
        {% for drop in owned %}
            <li><a href="{{ url_for('show_drops', drop_id=drop.name) }}"><h2 class=drop-name>{{ drop.name|safe }}</h2></a>
        {% else %}
            <li><em>None</em>
        {% endfor %}
    </ul>

    <h1 class=drop-type>Subscribed Drops</h1>
    <ul class=drops>
        {% for drop in subscribed %}
            <li><a href="{{ url_for('show_drops', drop_id=drop.name) }}"><h2 class=drop-name>{{ drop.name|safe }}</h2></a>
        {% else %}
            <li><em>None</em>
        {% endfor %}
    </ul>
</div>
{% endblock %}


{% block toolbar %}
{% if selected %}
	<div class="btn-group">
  		<a href="{{ url_for('show_drops', drop_id=selected.name) }}"><button>Reload</button></a>
  		<a href="{{ url_for('unsubscribe', drop_id=selected.name) }}"><button>Unsubscribe</button></a>
  		<a href="{{ url_for('request_change', drop_id=selected.name) }}"><button>Request Change</button></a>
	</div>
{% endif %}
{% endblock %}


{% block body %}
{% if selected %}
    Name is {{ selected.name|safe }}. {{ action.description }}
{% else %}
    No Drop Selected {{ action.description }}
{% endif %}
{% endblock %}
